{% extends "base.html" %}

{% block title %}
    {{ contest.description }}
{% endblock title %}

{% block body %}

<script>
$(document).ready(function() {
    {% if contest.registration_require_school_details %}
    let $select_district = $('select[name="district"]');
    let $select_school = $('select[name="school"]');
    let $no_school = $select_school.children('option[value=""]').clone();
    let schools_by_district = {};
    $select_school.find('optgroup').each(function (i, og) {
        schools_by_district[$(og).data('district-id')] = $(og).find('option').clone();
    });

    function district_changed () {
        let val = $select_district.val();
        $select_school.children().remove();
        $select_school.append($no_school.clone());
        if (val && schools_by_district.hasOwnProperty(val)) {
            $select_school.append(schools_by_district[$select_district.val()].clone());
        }
        $select_school.val('');
    }
    $select_district.change(district_changed);
    district_changed();
    {% endif %}

    $("#signup").submit(function(e) {
        {% if not contest.registration_auto_credentials %}
        // Reset error text
        $("#password-input").removeClass("error");
        $("#password-input span.help-block").hide().text("");
        $("#password-confirm-input").removeClass("error");
        $("#password-confirm-input span.help-block").hide().text("");
        $("#username-input").removeClass("error");
        $("#username-input span.help-block").hide().text("");
        {% endif %}

        const withCredentials = {% if not contest.registration_auto_credentials %}true{% else %}false{% endif %};

        // Check that passwords are the same
        if (withCredentials && $("#password").val() !== $("#password-confirm").val()) {
            $("#password-confirm-input").addClass("error");
            $("#password-confirm-input span.help-block").show().text("{% trans %}The passwords do not match!{% endtrans %}");
            $("#password-confirm").focus();
        } else {
            var data = $(this).serialize();
            var url = $(this).attr('action');

            $("#submit-button-loading").show();

            $.post(url, data).done(function(data) {
                $("#signup-mask").hide();
                $("#confirmed-mask").show();
                {% if not contest.registration_auto_credentials %}
                $("#show-username").text(data);
                {% endif %}
            }).fail(function(data) {
                if (data.status === 409) {
                    // Username is already used
                    $("#username-input").addClass("error");
                    $("#username-input span.help-block").show().text("{% trans %}This username is already taken, please choose a different one.{% endtrans %}");
                    $("#username").focus();
                } else if (data.status === 404) {
                    // Invalid username
                    $("#username-input").addClass("error");
                    $("#username-input span.help-block").show().text("{% trans %}No such user.{% endtrans %}");
                    $("#username").focus();
                } else if (data.status === 403) {
                    // Password does not match
                    $("#password-input").addClass("error");
                    $("#password-input span.help-block").show().text("{% trans %}The password is not correct.{% endtrans %}");
                    $("#password").focus();
                }
            }).always(function() {
                $("#submit-button-loading").hide();
            });
        }

        e.preventDefault();
    });

});
</script>

<div class="register_box hero-unit">
    <div id="signup-mask">
        <h1>{% trans %}Register a contestant{% endtrans %}</h1>
        <p>{% trans %}Please fill in the fields to register{% endtrans %}</p>
        <form id="signup" class="form-horizontal" action="{{ contest_url('register_by_parent') }}">
            {{ xsrf_form_html|safe }}
            <input type="hidden" name="new_user" value="true" />
            <fieldset>
                <div id="profile">
                    <div class="control-group">
                        <label class="control-label" for="first_name">{% trans %}Student's first name{% endtrans %}</label>
                        <div class="controls">
                            <input required minlength="1" maxlength="{{ MAX_INPUT_LENGTH }}" type="text" class="input-xlarge" name="first_name" id="first_name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="last_name">{% trans %}Student's last name{% endtrans %}</label>
                        <div class="controls">
                            <input required minlength="1" maxlength="{{ MAX_INPUT_LENGTH }}" type="text" class="input-xlarge" name="last_name" id="last_name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="email">{% trans %}Student's email{% endtrans %}</label>
                        <div class="controls">
                            <input required minlength="1" maxlength="{{ MAX_INPUT_LENGTH }}" type="email" class="input-xlarge" name="email" id="email" autocomplete="email">
                        </div>
                    </div>
                    {% if contest.registration_require_country %}
                    <div class="control-group">
                        <label class="control-label" for="country">{% trans %}Country{% endtrans %}</label>
                        <div class="controls">
                            <input required minlength="1" maxlength="{{ MAX_INPUT_LENGTH }}" type="text" class="input-xlarge" name="country" id="country">
                        </div>
                    </div>
                    {% endif %}
                    {% if contest.registration_require_school_details %}
                    <input type="hidden" name="role" value="student" />
                    <div class="control-group">
                        <label class="control-label" for="district">{% trans %}District{% endtrans %}</label>
                        <div class="controls">
                            <select required id="district" name="district" class="form-control">
                                <option value="">---</option>
                                {% for d in district_list %}
                                <option value="{{ d.id }}">{{ d.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="city">{% trans %}City{% endtrans %}</label>
                        <div class="controls">
                            <input required minlength="1" maxlength="{{ MAX_INPUT_LENGTH }}" type="text" class="input-xlarge" name="city" id="city">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="school">{% trans %}School{% endtrans %}</label>
                        <div class="controls">
                            <select required id="school" name="school" class="form-control">
                                <option value="">---</option>
                                {% for d in district_list %}
                                <optgroup label="{{ d.name }}" data-district-id="{{ d.id }}">
                                    {% for s in d.schools %}
                                    <option value="{{ s.id }}">{{ s.name }}</option>
                                    {% endfor %}
                                </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="grade">{% trans %}Grade{% endtrans %}</label>
                        <div class="controls">
                            <select required id="grade" name="grade" class="form-control">
                                <option value="">--</option>
                                {% for i in contest.registration_allowed_grades or range(1, 13) %}
                                <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% endif %}
                </div>

                {% if contest.registration_require_team %}
                <div id="participation">
                    <div class="control-group">
                        <label class="control-label" for="team">{% trans %}Representing{% endtrans %}</label>
                        <div class="controls">
                            <select id="team" name="team">
                                {% for t in teams %}
                                <option value="{{ t.code }}">{{ t.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if not contest.registration_auto_credentials %}
                <hr id="form-divider">

                <div id="credentials">
                    <div id="username-input" class="control-group" {% if contest.registration_auto_credentials %}style="display: none"{% endif %}>
                        <label class="control-label" for="username">{% trans %}Username{% endtrans %}</label>
                        <div class="controls">
                            <input required minlength="1" maxlength="{{ MAX_INPUT_LENGTH }}" pattern="^[A-Za-z0-9_\-]+$" type="text" class="input-xlarge" name="username" id="username" {% if contest.registration_auto_credentials %}disabled{% endif %}>
                            <span class="help-block" style="display: none"></span>
                        </div>
                    </div>
                    <div id="password-input" class="control-group" {% if contest.registration_auto_credentials %}style="display: none"{% endif %}>
                        <label class="control-label" for="password">{% trans %}Password{% endtrans %}</label>
                        <div class="controls">
                            <input required minlength="{{ MIN_PASSWORD_LENGTH }}" maxlength="{{ MAX_INPUT_LENGTH }}" type="password" class="input-xlarge" name="password" id="password" autocomplete="new-password" {% if contest.registration_auto_credentials %}disabled{% endif %}>
                            <span class="help-block">
                                {% trans min_length=MIN_PASSWORD_LENGTH %}
                                Must be one character or more.
                                {% pluralize %}
                                Must be {{ min_length }} characters or more.
                                {% endtrans %}
                            </span>
                        </div>
                    </div>
                    {% if not contest.registration_auto_credentials %}
                    <div id="password-confirm-input" class="control-group">
                        <label class="control-label" for="password-confirm">{% trans %}Confirm password{% endtrans %}</label>
                        <div class="controls">
                            <input required minlength="{{ MIN_PASSWORD_LENGTH }}" maxlength="{{ MAX_INPUT_LENGTH }}" type="password" class="input-xlarge" name="password-confirm" id="password-confirm" autocomplete="new-password">
                            <span class="help-block" style="display: none"></span>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endif %}

                {% if policy_url %}
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox"><input required type="checkbox" name="accept_terms" value="yes" />
                            <span>{% trans policy_url=policy_url %}I am legal guardian of this child and agree to the <a href="{{ policy_url }}" target="_blank">Personal Data Management Policy</a>.{% endtrans %}</span>
                        </label>
                    </div>
                </div>
                {% endif %}

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary btn-large">{% trans %}Register{% endtrans %}</button>
                        <img id="submit-button-loading" style="display: none;" src="{{ url('static', 'loading.gif') }}" alt="loading..." />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div id="confirmed-mask" style="display: none;">
        <h1>{% trans %}Register a contestant{% endtrans %}</h1>

        <p>{% trans %}Registered in the contest successfully!{% endtrans %}</p>

        {% if contest.registration_auto_credentials %}
        <p>{% trans %}Login details will be sent to the provided email address before the contest.{% endtrans %}</p>
        {% else %}

        <p>{% trans %}Your username is:{% endtrans %}</p>

        <p id="show-username" style="font-size: xx-large; font-family: monospace; font-weight: bold; text-align: center;">
        </p>

        <p>{% trans %}Your password is stored securely.{% endtrans %}</p>
        {% endif %}

        <a href="{{ contest_url() }}" class="btn btn-success btn-large">{% trans %}Back to login{% endtrans %}</a>
    </div>

</div>

{% endblock body %}
