{% extends "contest.html" %}

{% block additional_js %}
{% if contest.require_school_details %}
$(document).ready(function () {
    $('input[name="role"]:radio').change(function(ev) {
        if (ev.target.value == 'student') {
            $('.students-only').show();
        } else {
            $('.students-only').hide();
        }
    });
    {% if handler.get_argument("role", "") != "student" %}
    $('.students-only').hide();
    {% endif %}

    var $select_district = $('select[name="district"]');
    var $select_school = $('select[name="school"]');
    var $no_school = $select_school.children('option[value=""]').clone();
    var schools_by_district = {};
    $select_school.find('optgroup').each(function (i, og) {
        schools_by_district[$(og).data('district-id')] = $(og).find('option').clone();
    });

    function district_changed () {
        var val = $select_district.val();
        $select_school.children().remove();
        $select_school.append($no_school.clone());
        if (val && schools_by_district.hasOwnProperty(val)) {
            $select_school.append(schools_by_district[$select_district.val()].clone());
        }
        $select_school.val('');
    }
    $select_district.change(district_changed);
    district_changed();
    {% if handler.get_argument("school", "") %}
    $select_school.val('{{ handler.get_argument("school", "") }}');
    {% endif %}
});
{% endif %}
{% endblock additional_js %}

{% block login %}
<div class="login_container">
{% if new_user is defined %}
    <div class="login_box hero-unit">
        <h2>{% trans %}Registration successful{% endtrans %}</h2>
        <p>{% trans %}Here are your login details. Please write them down.{% endtrans %}</p>
        <div class="form-horizontal">
            <div class="control-group" style="margin-bottom:0">
                <span class="control-label">{% trans %}Username{% endtrans %}</span>
                <div class="controls">
                    <p style="margin-bottom:0">{{ new_user.username }}</p>
                </div>
            </div>
            <div class="control-group">
                <span class="control-label">{% trans %}Password{% endtrans %}</span>
                <div class="controls">
                    <p>{{ password }}</p>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <a class="btn btn-primary btn-large" href="{{ contest_url() }}">{% trans %}Login{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="login_box hero-unit{% if contest.require_school_details %} school-details{% endif %}">
        <h1>{% trans %}Welcome{% endtrans %}</h1>
        <p>{% trans %}Please register{% endtrans %}</p>
        <form class="form-horizontal" action="{{ contest_url("register") }}" method="POST">
            {{ xsrf_form_html|safe }}
            <fieldset>
                <div class="control-group{% if errors is defined and "first_name" in errors %} error{% endif %}">
                    <label class="control-label" for="first_name">{% trans %}First name{% endtrans %}</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" name="first_name" value="{{ handler.get_argument("first_name", "") }}">
                    </div>
                </div>
                <div class="control-group{% if errors is defined and "last_name" in errors %} error{% endif %}">
                    <label class="control-label" for="last_name">{% trans %}Last name{% endtrans %}</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" name="last_name" value="{{ handler.get_argument("last_name", "") }}">
                    </div>
                </div>
                <div class="control-group{% if errors is defined and "email" in errors %} error{% endif %}">
                    <label class="control-label" for="email">{% trans %}Email{% endtrans %}</label>
                    <div class="controls">
                        <input type="email" class="input-xlarge" name="email" value="{{ handler.get_argument("email", "") }}">
                    </div>
                </div>
    {% if contest.require_country %}
                <div class="control-group {% if errors is defined and "country" in errors %} error{% endif %}">
                    <label class="control-label" for="country">{% trans %}Country{% endtrans %}</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" name="country" value="{{ handler.get_argument("country", "") }}">
                    </div>
                </div>
    {% endif %}
    {% if contest.require_school_details %}
                <div class="control-group">
                    <div class="controls">
                        <label class="inline"><input type="radio" name="role" value="student" {% if handler.get_argument("role", "") == "student" %}checked="checked"{% endif %} />
                            <span>{% trans %}Student{% endtrans %}</span>
                        </label>
                        <label class="inline"><input type="radio" name="role" value="guest" {% if handler.get_argument("role", "") == "guest" %}checked="checked"{% endif %} />
                            <span>{% trans %}Guest{% endtrans %}</span>
                        </label>
                    </div>
                </div>
                <div class="control-group students-only{% if errors is defined and "district" in errors %} error{% endif %}">
                    <label class="control-label" for="district">{% trans %}District{% endtrans %}</label>
                    <div class="controls">
                        <select name="district" class="form-control">
                            <option value="">---</option>
        {% set selected_district = handler.get_argument("district", "") %}
        {% for d in district_list %}
                            <option value="{{ d.id }}"{% if d.id|string == selected_district %} selected{% endif %}>{{ d.name }}</option>
        {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group students-only{% if errors is defined and "city" in errors %} error{% endif %}">
                    <label class="control-label" for="city">{% trans %}City{% endtrans %}</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" name="city" value="{{ handler.get_argument("city", "") }}">
                    </div>
                </div>
                <div class="control-group students-only{% if errors is defined and "school" in errors %} error{% endif %}">
                    <label class="control-label" for="school">{% trans %}School{% endtrans %}</label>
                    <div class="controls">
                        <select name="school" class="form-control">
                            <option value="">---</option>
        {% set selected_school = handler.get_argument("school", "") %}
        {% for d in district_list %}
                            <optgroup label="{{ d.name }}" data-district-id="{{ d.id }}">
            {% for s in d.schools %}
                                <option value="{{ s.id }}"{% if s.id|string == selected_school %} selected{% endif %}>{{ s.name }}</option>
            {% endfor %}
                            </optgroup>
        {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group students-only{% if errors is defined and "grade" in errors %} error{% endif %}">
                    <label class="control-label" for="grade">{% trans %}Grade{% endtrans %}</label>
                    <div class="controls">
                        <select name="grade" class="form-control">
                            <option value="">--</option>
        {% set selected_grade = handler.get_argument("grade", "") %}
        {% for i in contest.allowed_grades or range(1, 13) %}
                            <option value="{{ i }}"{% if i|string == selected_grade %} selected{% endif %}>{{ i }}</option>
        {% endfor %}
                        </select>
                    </div>
                </div>
    {% endif %}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary btn-large">{% trans %}Register{% endtrans %}</button>
                        <button type="reset" class="btn btn-large">{% trans %}Reset{% endtrans %}</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endif %}
</div>
{% endblock login %}
