{% extends base.html %}
{% block body %}

{% if handler.get_argument("error", "") != "" %}
<div id="notifications" class="notifications">
    <div class="alert alert-block alert-error notification">
        <a class="close" data-dismiss="alert" href="#">&#xD7;</a>
        <h4 class="alert-heading">{{ _("Failed to log in.") }}</h4>
    </div>
</div>
{% end %}
<div class="login_container">
    <div class="login_box hero-unit">
        <h1>{{ _("Welcome") }}</h1>
        <p>{{ _("Please log in") }}</p>
        <form class="form-horizontal" action="{{ url_root }}/login" method="POST">
            <input type="hidden" name="next" value="{{ handler.get_argument("next", "/") }}">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="district">{{ _("District") }}</label>
                    <div class="controls">
                        <select name="district" class="form-control">
                            <option value="">---</option>
    {% for d in sorted(district_list, key=lambda d: d.name) %}
                            <option value="{{ d.id }}">{{ d.name }}</option>
    {% end %}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">{{ _("Password") }}</label>
                    <div class="controls">
                        <input type="password" class="input-xlarge" name="password">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary btn-large">{{ _("Login") }}</button>
                        <button type="reset" class="btn btn-large">{{ _("Reset") }}</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% end %}
