{% extends base.html %}
{% block extrahead %}
{% from cms.util import lt_sort_key %}

{% if contest.require_school_details %}
<script type="text/javascript">
$(document).ready(function () {
    $('input[name="role"]:radio').change(function(ev) {
        if (ev.target.value == 'student') {
            $('.students-only').show();
        } else {
            $('.students-only').hide();
        }
    });
    {% if handler.get_argument("role", "") != "student" %}
    $('.students-only').hide();
    {% end %}
});
</script>
{% end %}
{% end %}

{% block login %}
<div class="login_container">
{% if new_user %}
    <div class="login_box hero-unit">
        <h2>{{ _("Registration successful") }}</h2>
        <p>
            {{ _("Here are your login details.") }}
    {% if email_sent %}
            {{ _("They have been sent to your email.") }}
    {% else %}
            {{ _("Please write them down.") }}
    {% end %}
        </p>
        <div class="form-horizontal">
            <div class="control-group" style="margin-bottom:0">
                <span class="control-label">{{ _("Username") }}</span>
                <div class="controls">
                    <p style="margin-bottom:0">{{ new_user.username }}</p>
                </div>
            </div>
            <div class="control-group">
                <span class="control-label">{{ _("Password") }}</span>
                <div class="controls">
                    <p>{{ new_user.password }}</p>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <a class="btn btn-primary btn-large" href="{{ url_root }}/">{{ _("Login") }}</a>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="login_box hero-unit{% if contest.require_school_details %} school-details{% end %}">
        <h1>{{ _("Welcome") }}</h1>
        <p>{{ _("Please register") }}</p>
        <form class="form-horizontal" action="{{ url_root }}/register" method="POST">
            <fieldset>
                <div class="control-group{% if errors and "first_name" in errors %} error{% end %}">
                    <label class="control-label" for="first_name">{{ _("First name") }}</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" name="first_name" value="{{ handler.get_argument("first_name", "") }}">
                    </div>
                </div>
                <div class="control-group{% if errors and "last_name" in errors %} error{% end %}">
                    <label class="control-label" for="last_name">{{ _("Last name") }}</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" name="last_name" value="{{ handler.get_argument("last_name", "") }}">
                    </div>
                </div>
                <div class="control-group{% if errors and "email" in errors %} error{% end %}">
                    <label class="control-label" for="email">{{ _("Email") }}</label>
                    <div class="controls">
                        <input type="email" class="input-xlarge" name="email" value="{{ handler.get_argument("email", "") }}">
                    </div>
                </div>
    {% if contest.require_country %}
                <div class="control-group {% if errors and "country" in errors %} error{% end %}">
                    <label class="control-label" for="country">{{ _("Country") }}</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" name="country" value="{{ handler.get_argument("country", "") }}">
                    </div>
                </div>
    {% end %}
    {% if contest.require_school_details %}
                <div class="control-group">
                    <div class="controls">
                        <label class="inline"><input type="radio" name="role" value="student" {% if handler.get_argument("role", "") == "student" %}checked="checked"{% end %} />
                            <span>{{ _("Student") }}</span>
                        </label>
                        <label class="inline"><input type="radio" name="role" value="guest" {% if handler.get_argument("role", "") == "guest" %}checked="checked"{% end %} />
                            <span>{{ _("Guest") }}</span>
                        </label>
                    </div>
                </div>
                <div class="control-group students-only{% if errors and "district" in errors %} error{% end %}">
                    <label class="control-label" for="district">{{ _("District") }}</label>
                    <div class="controls">
                        <select name="district" class="form-control">
                            <option value="">---</option>
    {% set selected_district = handler.get_argument("district", "") %}
    {% for d in sorted(district_list, key=lambda d: lt_sort_key(d.name)) %}
                            <option value="{{ d.id }}"{% if str(d.id) == selected_district %} selected{% end %}>{{ d.name }}</option>
    {% end %}
                        </select>
                    </div>
                </div>
                <div class="control-group students-only{% if errors and "city" in errors %} error{% end %}">
                    <label class="control-label" for="city">{{ _("City") }}</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" name="city" value="{{ handler.get_argument("city", "") }}">
                    </div>
                </div>
                <div class="control-group students-only{% if errors and "school" in errors %} error{% end %}">
                    <label class="control-label" for="school">{{ _("School") }}</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" name="school" value="{{ handler.get_argument("school", "") }}">
                    </div>
                </div>
                <div class="control-group students-only{% if errors and "grade" in errors %} error{% end %}">
                    <label class="control-label" for="grade">{{ _("Grade") }}</label>
                    <div class="controls">
                        <select name="grade" class="form-control">
                            <option value="">--</option>
        {% set selected_grade = handler.get_argument("grade", "") %}
        {% for i in contest.allowed_grades or xrange(1, 13) %}
                            <option value="{{ i }}"{% if str(i) == selected_grade %} selected{% end %}>{{ i }}</option>
        {% end %}
                        </select>
                    </div>
                </div>
    {% end %}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary btn-large">{{ _("Register") }}</button>
                        <button type="reset" class="btn btn-large">{{ _("Reset") }}</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% end %}
</div>
{% end %}
