{% extends "base.html" %}

{% block core %}

<div class="core_title">
  <h1><a href="{{ url("district", district.id) }}">{{ district.name }}</a> - New school</h1>
</div>

<h2 id="title_general_info" class="toggling_on">General information</h2>
<div id="general_info">
  <!-- We use "multipart/form-data" to have Tornado distinguish between missing and empty values. -->
  <form enctype="multipart/form-data" action="{{ url("school", "add", district.id) }}" method="POST">
    {{ xsrf_form_html|safe }}
    <table>
      <tr>
        <td>Name</td>
        <td><input type="text" name="name"></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="text" name="password"></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="text" name="email"></td>
      </tr>
    </table>
    <input type="submit">
    <input type="reset" value="Reset">
  </form>
  <div class="hr"></div>
</div>

{% endblock core %}
