{% extends "base.html" %}
{% block title %}{{ contest.description }}{% endblock title %}

{% block core %}
<div class="span12">

<div class="page-header">
  <h1>{{ contest.description }}</h1>
  <a href="{{ url() }}" style="float: right">{% trans %}Back to contest list{% endtrans %}</a>
</div>

{% if show_task_statements %}
{% if contest.tasks|length > 0 %}
<div>
  <h3>{% trans %}Tasks{% endtrans %}</h3>
  <ul>
    {% for task in contest.tasks %}
      <li>
        {% if task.statements|length == 0 %}
          {{ task.name }}
        {% elif task.statements|length == 1 %}
          {% for lang_code in task.statements %}
            <a href="{{ url("contest", contest.id, "task", task.name, "statement", lang_code) }}">{{ task.name }}</a>
          {% endfor %}
        {% else %}
          {{ task.name }} [
          {% for statement in itervalues(task.statements)|sort(attribute="language") %}
            {% if statement.language in task.primary_statements %}<strong>{% endif %}
            <a href="{{ url("contest", contest.id, "task", task.name, "statement", statement.language) }}">{{ statement.language }}</a>
            {% if statement.language in task.primary_statements %}</strong>{% endif %}
          {% endfor %}
          ]
        {% endif %}
        {% if task.attachments|length > 0 %}
          <ul>
            {% for att_filename in task.attachments %}
              <li><a href="{{ url("contest", contest.id, "task", task.name, "attachment", att_filename) }}">{{ att_filename }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% if contest.attachments|length > 0 %}
<div>
  <h3>{% trans %}Attachments{% endtrans %}</h3>
  <ul>
    {% for att_filename in contest.attachments %}
      <li><a href="{{ url("contest", contest.id, "attachment", att_filename) }}">{{ att_filename }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endif %}

<p>
  <a style="float: right" href="{{ url("contest", contest.id, "csv") }}">{% trans %}Export to CSV{% endtrans %}</a>
</p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      {% for head in header %}
      <th>{{ head }}</th>
      {% endfor %}
      {% if allow_contestant_leave %}
      <th style="width: 1%">{% trans %}Leave time{% endtrans %}</th>
      {% endif %}
      {% if allow_impersonate %}
      <th style="width: 1%"></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for p, row in table %}
    <tr>
      {% for item in row %}
      <td>{{ item }}</td>
      {% endfor %}
      {% if allow_contestant_leave %}
      <td style="white-space: nowrap">
        <form class="form-horizontal" style="margin: 0" enctype="multipart/form-data" action="{{ url("contestant_leave", p.id) }}" method="POST">
          {{ xsrf_form_html|safe }}
          {% if p.leave_time is none or now <= p.leave_time %}
          <button type="submit" name="state" value="left" class="btn">{% trans %}Contestant has left{% endtrans %}</button>
          {% else %}
          <p>{{ p.leave_time|format_datetime_smart }}</p>
          <button type="submit" name="state" value="returned" class="btn">{% trans %}Contestant has returned{% endtrans %}</button>
          {% endif %}
        </form>
      </td>
      {% endif %}
      {% if allow_impersonate %}
      <td style="white-space: nowrap"><a href="{{ url("impersonate", p.id) }}" class="btn" target="_blank">{% trans %}Log in as contestant{% endtrans %}</a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% endblock core %}
