{% extends "base.html" %}
{% block title %}{% trans %}Register{% endtrans %}{% endblock title %}

{% block extrahead %}

<script type="text/javascript">
$(document).ready(function () {
    var $select_district = $('select[name="district"]');
    var $select_school = $('select[name="school"]');
    var $no_school = $select_school.children('option[value=""]').clone();
    var schools_by_district = {};
    $select_school.find('optgroup').each(function (i, og) {
        schools_by_district[$(og).data('district-id')] = $(og).find('option').clone();
    });

    function district_changed () {
        var val = $select_district.val();
        $select_school.children().remove();
        $select_school.append($no_school.clone());
        if (val && schools_by_district.hasOwnProperty(val)) {
            $select_school.append(schools_by_district[$select_district.val()].clone());
        }
        $select_school.val('');
    }
    $select_district.change(district_changed);
    district_changed();
    {% if handler.get_argument("school", "") %}
    $select_school.val('{{ handler.get_argument("school", "") }}');
    {% endif %}
});
</script>
{% endblock extrahead %}

{% block body %}
<div class="login_container">
{% if complete is defined and complete %}
    <div class="login_box hero-unit">
        <h2>{% trans %}Registration successful{% endtrans %}</h2>
        <p>{% trans %}You will receive your login details via email.{% endtrans %}</p>
    </div>
{% else %}
    <div class="login_box hero-unit">
        <h1>{% trans %}Welcome{% endtrans %}</h1>
        <p>{% trans %}Please register{% endtrans %}</p>
        <form class="form-horizontal" action="{{ url("register") }}" method="POST">
            {{ xsrf_form_html|safe }}
            <fieldset>
                <div class="control-group{% if errors is defined and "first_name" in errors %} error{% endif %}">
                    <label class="control-label" for="first_name">{% trans %}First name{% endtrans %}</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" name="first_name" value="{{ handler.get_argument("first_name", "") }}">
                    </div>
                </div>
                <div class="control-group{% if errors is defined and "last_name" in errors %} error{% endif %}">
                    <label class="control-label" for="last_name">{% trans %}Last name{% endtrans %}</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" name="last_name" value="{{ handler.get_argument("last_name", "") }}">
                    </div>
                </div>
                <div class="control-group{% if errors is defined and "email" in errors %} error{% endif %}">
                    <label class="control-label" for="email">{% trans %}Email{% endtrans %}</label>
                    <div class="controls">
                        <input type="email" class="input-xlarge" name="email" value="{{ handler.get_argument("email", "") }}">
                    </div>
                </div>
                <div class="control-group{% if errors is defined and "district" in errors %} error{% endif %}">
                    <label class="control-label" for="district">{% trans %}District{% endtrans %}</label>
                    <div class="controls">
                        <select name="district" class="form-control">
                            <option value="">---</option>
    {% set selected_district = handler.get_argument("district", "") %}
    {% for d in district_list %}
                            <option value="{{ d.id }}"{% if d.id|string == selected_district %} selected{% endif %}>{{ d.name }}</option>
    {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group{% if errors is defined and "school" in errors %} error{% endif %}">
                    <label class="control-label" for="school">{% trans %}School{% endtrans %}</label>
                    <div class="controls">
                        <select name="school" class="form-control">
                            <option value="">---</option>
    {% set selected_school = handler.get_argument("school", "") %}
    {% for d in district_list %}
                            <optgroup label="{{ d.name }}" data-district-id="{{ d.id }}">
        {% for s in d.schools %}
                                <option value="{{ s.id }}"{% if s.id|string == selected_school %} selected{% endif %}>{{ s.name }}</option>
        {% endfor %}
                            </optgroup>
    {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary btn-large">{% trans %}Register{% endtrans %}</button>
                        <button type="reset" class="btn btn-large">{% trans %}Reset{% endtrans %}</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endif %}
</div>
{% endblock body %}
